/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   Modified for this project
*/

html, body, div, h1, h2, h3, p, a, img, ul, li
{
	margin: 0;
	padding: 0;
	border: 0;
	background-color: inherit;
  list-style-type: none;
  overflow: none;
  text-align-last: none;
  display: none;
  color: none;
  text-decoration: none;
  float: none;
  border-style: none;
  border-width: 0px;
  text-align: none;
  margin-left: none;
  margin-right: none;
}
