body  {
  background-color: peru;
}

h1  {
  border-style: ridge;
  border-width: 3px;
}

.nav_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: grey;
}

.nav_bar li {
  float: left;
}

.nav_bar a {
  display: block;
  color: red;
  text-align: center;
  padding: 12px 13px;
  text-decoration: none;
}
