body  {
  background-color: peru;
}

h1  {
  border-style: ridge;
  border-width: 3px;
}

ul.nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  background-color: grey;
}

li.nav_bar  {
  float: left;
}
